<h2><i class="<%= @category.icon %>"><%= @category.name %></i></h2>
<% @category.words.each do |word| %>
    <button><%= link_to word.english, word, class: "btn btn-block btn-lg btn-default" %></button>
 <% end %>
 
 
 <i class= <%= @category.icon %> "fa-5x"> "My icon choice is" <%= @category.icon %></i> 